In [2]:
ages=c(20,22,25,27,21,23,37,31,61,45,41,32)
breaks=c(0,18,25,35,60,100)
labels=c('Tenager','Youth','YoungAdult','MiddleAged','Senior')
cat_ages=cut(ages,breaks,labels)
cat_ages

 [1] Youth      Youth      Youth      YoungAdult Youth      Youth
 [7] MiddleAged YoungAdult Senior     MiddleAged MiddleAged YoungAdult
Levels: Tenager Youth YoungAdult MiddleAged Senior

In [3]:
ages

 [1] 20 22 25 27 21 23 37 31 61 45 41 32

In [4]:
table(cat_ages)

cat_ages
   Tenager      Youth YoungAdult MiddleAged     Senior
         0          5          3          3          1