In [1]:
### Creating data frame
fy <- c(2010,2011,2012,2010,2011,2012,2010,2011,2012) 
company <- c("Apple","Apple","Apple","Google","Google",
             "Google","Microsoft","Microsoft","Microsoft") 
revenue <- c(65225,108249,156508,29321,37905,50175,62484,69943,73723) 
profit <- c(14013,25922,41733,8505,9737,10737,18760,23150,16978) 
companiesData <- data.frame(fy, company, revenue, profit)
companiesData$margin <- (companiesData$profit / companiesData$revenue) * 100
companiesData$margin <- round(companiesData$margin, 1)
companiesData

  fy   company   revenue profit margin
1 2010 Apple      65225  14013  21.5
2 2011 Apple     108249  25922  23.9
3 2012 Apple     156508  41733  26.7
4 2010 Google     29321   8505  29.0
5 2011 Google     37905   9737  25.7
6 2012 Google     50175  10737  21.4
7 2010 Microsoft  62484  18760  30.0
8 2011 Microsoft  69943  23150  33.1
9 2012 Microsoft  73723  16978  23.0

In [2]:
### Getting summary of each company based on maximum margin
install.packages('plyr')
library(plyr)

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

In [3]:
highestProfitMargins <- ddply(companiesData, 'company', summarize, 
                              bestMargin = max(margin))
highestProfitMargins ### Columns of company and bestMarging

  company   bestMargin
1 Apple     26.7
2 Google    29.0
3 Microsoft 33.1

In [4]:
highestProfitMargins <- ddply(companiesData, 'company', transform, 
                             bestMargin = max(margin))
highestProfitMargins ### All columns

  fy   company   revenue profit margin bestMargin
1 2010 Apple      65225  14013  21.5   26.7
2 2011 Apple     108249  25922  23.9   26.7
3 2012 Apple     156508  41733  26.7   26.7
4 2010 Google     29321   8505  29.0   29.0
5 2011 Google     37905   9737  25.7   29.0
6 2012 Google     50175  10737  21.4   29.0
7 2010 Microsoft  62484  18760  30.0   33.1
8 2011 Microsoft  69943  23150  33.1   33.1
9 2012 Microsoft  73723  16978  23.0   33.1

In [5]:
### Applying more than one function 
myResults <- ddply(companiesData, 'company', transform, 
                   highestMargin = max(margin), lowestMargin = min(margin))
myResults

  fy   company   revenue profit margin highestMargin lowestMargin
1 2010 Apple      65225  14013  21.5   26.7          21.5
2 2011 Apple     108249  25922  23.9   26.7          21.5
3 2012 Apple     156508  41733  26.7   26.7          21.5
4 2010 Google     29321   8505  29.0   29.0          21.4
5 2011 Google     37905   9737  25.7   29.0          21.4
6 2012 Google     50175  10737  21.4   29.0          21.4
7 2010 Microsoft  62484  18760  30.0   33.1          23.0
8 2011 Microsoft  69943  23150  33.1   33.1          23.0
9 2012 Microsoft  73723  16978  23.0   33.1          23.0

In [8]:
install.packages('dplyr')
library(dplyr)

also installing the dependencies ‘bindr’, ‘bindrcpp’, ‘glue’, ‘pkgconfig’

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

Attaching package: ‘dplyr’

The following objects are masked from ‘package:plyr’:

    arrange, count, desc, failwith, id, mutate, rename, summarise,
    summarize

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [9]:
### Using dplyr to see the highest margin of data
### First creating two columns of max and min of marging
myresults <- companiesData %>% group_by(company) %>% mutate(highestMargin = max(margin), lowestMargin = min(margin))
myresults

  fy   company   revenue profit margin highestMargin lowestMargin
1 2010 Apple      65225  14013  21.5   26.7          21.5
2 2011 Apple     108249  25922  23.9   26.7          21.5
3 2012 Apple     156508  41733  26.7   26.7          21.5
4 2010 Google     29321   8505  29.0   29.0          21.4
5 2011 Google     37905   9737  25.7   29.0          21.4
6 2012 Google     50175  10737  21.4   29.0          21.4
7 2010 Microsoft  62484  18760  30.0   33.1          23.0
8 2011 Microsoft  69943  23150  33.1   33.1          23.0
9 2012 Microsoft  73723  16978  23.0   33.1          23.0

In [10]:
highestProfitMargins <- companiesData %>% group_by(company) %>% summarise(bestMargin = max(margin))
highestProfitMargins ### Highest margin of the data

  company   bestMargin
1 Apple     26.7
2 Google    29.0
3 Microsoft 33.1

In [11]:
### Grouping by date range
vDates <- as.Date(c("2013-06-01","2013-07-08","2013-09-01","2013-09-15"))
### Sorting based on month
vDates.bymonth <- cut(vDates, breaks = "month")
dfDates <- data.frame(vDates, vDates.bymonth)
dfDates

  vDates     vDates.bymonth
1 2013-06-01 2013-06-01
2 2013-07-08 2013-07-01
3 2013-09-01 2013-09-01
4 2013-09-15 2013-09-01