In [1]:
### Binning (equal length bins)
x=c(1,2,3,4,2,4,7,8,12,5,6,8)
y=cut(x,4)
y

 [1] (0.989,3.75] (0.989,3.75] (0.989,3.75] (3.75,6.5]   (0.989,3.75]
 [6] (3.75,6.5]   (6.5,9.25]   (6.5,9.25]   (9.25,12]    (3.75,6.5]
[11] (3.75,6.5]   (6.5,9.25]
Levels: (0.989,3.75] (3.75,6.5] (6.5,9.25] (9.25,12]

In [2]:
k=split(x,y)
k

$`(0.989,3.75]`
[1] 1 2 3 2

$`(3.75,6.5]`
[1] 4 4 5 6

$`(6.5,9.25]`
[1] 7 8 8

$`(9.25,12]`
[1] 12

In [3]:
y=factor(y)
aggregate(x,by=list(y),FUN='mean')

  Group.1      x
1 (0.989,3.75]  2.000000
2 (3.75,6.5]    4.750000
3 (6.5,9.25]    7.666667
4 (9.25,12]    12.000000

In [4]:
aggregate(x,by=list(y),FUN='sd')

  Group.1      x
1 (0.989,3.75] 0.8164966
2 (3.75,6.5]   0.9574271
3 (6.5,9.25]   0.5773503
4 (9.25,12]           NA

In [5]:
### Binning (equal number of datapoints in each interval)
breaks=quantile(x,probs=c(0,.25,.5,.75,1))
breaks

   0%   25%   50%   75%  100%
 1.00  2.75  4.50  7.25 12.00

In [6]:
z=cut(x,breaks,include.lowest=TRUE)
z

 [1] [1,2.75]   [1,2.75]   (2.75,4.5] (2.75,4.5] [1,2.75]   (2.75,4.5]
 [7] (4.5,7.25] (7.25,12]  (7.25,12]  (4.5,7.25] (4.5,7.25] (7.25,12]
Levels: [1,2.75] (2.75,4.5] (4.5,7.25] (7.25,12]