In [1]:
data=data.frame(x=c(1,3,2,4,5,6,4,2,5),y=c(2,4,2,7,4,3,2,1,8))
data

  x y
1 1 2
2 3 4
3 2 2
4 4 7
5 5 4
6 6 3
7 4 2
8 2 1
9 5 8

In [2]:
set.seed(1)

In [3]:
#### Half of rows as sample
data_sample=sample(1: nrow(data), 0.5*nrow(data)) 
data[data_sample,]

  x y
3 2 2
9 5 8
5 5 4
6 6 3