In [1]:
### Detecting outliers
### First replace missing values with zero
data <- data.frame(x=c(.1,.2,NaN,-20,.8,.9,.5,.1,1),y=c(2,NaN,.5,20,1,.3,.1,.8,.9))
data

  x     y
1   0.1  2.0
2   0.2  NaN
3   NaN  0.5
4 -20.0 20.0
5   0.8  1.0
6   0.9  0.3
7   0.5  0.1
8   0.1  0.8
9   1.0  0.9

In [2]:
for(i in 1:ncol(data)){
  data[is.na(data[,i]), i] <- 0
}
data

  x     y
1   0.1  2.0
2   0.2  0.0
3   0.0  0.5
4 -20.0 20.0
5   0.8  1.0
6   0.9  0.3
7   0.5  0.1
8   0.1  0.8
9   1.0  0.9

In [3]:
### Detecting, filtering outliers and replacing with mean of column
for(j in 1:ncol(data)){
  for (i in 1:nrow(data)){
    if ((data[i,j] < (mean(data[[j]])-(1.5)*sd(data[[j]]))|
       (data[i,j] > (mean(data[[j]])+1.5*sd(data[[j]]))))) 
    {data[i,j]<-mean(data[[j]])}
  }
}
data

  x         y
1  0.100000 2.000000
2  0.200000 0.000000
3  0.000000 0.500000
4 -1.822222 2.844444
5  0.800000 1.000000
6  0.900000 0.300000
7  0.500000 0.100000
8  0.100000 0.800000
9  1.000000 0.900000