In [1]:
### Adding new column
### By equation
fy <- c(2010,2011,2012,2010,2011,2012,2010,2011,2012) 
company <- c("Apple","Apple","Apple","Google","Google",
             "Google","Microsoft","Microsoft","Microsoft") 
revenue <- c(65225,108249,156508,29321,37905,50175,62484,69943,73723) 
profit <- c(14013,25922,41733,8505,9737,10737,18760,23150,16978) 
companiesData <- data.frame(fy, company, revenue, profit)
companiesData$margin <- (companiesData$profit / companiesData$revenue) * 100
companiesData$margin <- round(companiesData$margin, 1)
companiesData

  fy   company   revenue profit margin
1 2010 Apple      65225  14013  21.5
2 2011 Apple     108249  25922  23.9
3 2012 Apple     156508  41733  26.7
4 2010 Google     29321   8505  29.0
5 2011 Google     37905   9737  25.7
6 2012 Google     50175  10737  21.4
7 2010 Microsoft  62484  18760  30.0
8 2011 Microsoft  69943  23150  33.1
9 2012 Microsoft  73723  16978  23.0

In [2]:
### By R's transform
companiesData <- transform(companiesData, 
                           margin = round((profit/revenue) * 100, 1))
companiesData

  fy   company   revenue profit margin
1 2010 Apple      65225  14013  21.5
2 2011 Apple     108249  25922  23.9
3 2012 Apple     156508  41733  26.7
4 2010 Google     29321   8505  29.0
5 2011 Google     37905   9737  25.7
6 2012 Google     50175  10737  21.4
7 2010 Microsoft  62484  18760  30.0
8 2011 Microsoft  69943  23150  33.1
9 2012 Microsoft  73723  16978  23.0

In [3]:
### By apply() function
companiesData$margin <- apply(companiesData[,c('revenue', 'profit')], 1, 
                              function(x) { (x[2]/x[1]) * 100 } )
companiesData

  fy   company   revenue profit margin
1 2010 Apple      65225  14013  21.48409
2 2011 Apple     108249  25922  23.94664
3 2012 Apple     156508  41733  26.66509
4 2010 Google     29321   8505  29.00651
5 2011 Google     37905   9737  25.68790
6 2012 Google     50175  10737  21.39910
7 2010 Microsoft  62484  18760  30.02369
8 2011 Microsoft  69943  23150  33.09838
9 2012 Microsoft  73723  16978  23.02945

In [4]:
### By mapply() function
companiesData$margin <- mapply(function(x, y) round((x/y) * 100, 1), 
                               companiesData$profit, companiesData$revenue)
companiesData

  fy   company   revenue profit margin
1 2010 Apple      65225  14013  21.5
2 2011 Apple     108249  25922  23.9
3 2012 Apple     156508  41733  26.7
4 2010 Google     29321   8505  29.0
5 2011 Google     37905   9737  25.7
6 2012 Google     50175  10737  21.4
7 2010 Microsoft  62484  18760  30.0
8 2011 Microsoft  69943  23150  33.1
9 2012 Microsoft  73723  16978  23.0

In [5]:
### Using 'dplyr' package
library(dplyr)
companiesData <- mutate(companiesData, margin = round((profit/revenue) * 100, 1))
companiesData

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

  fy   company   revenue profit margin
1 2010 Apple      65225  14013  21.5
2 2011 Apple     108249  25922  23.9
3 2012 Apple     156508  41733  26.7
4 2010 Google     29321   8505  29.0
5 2011 Google     37905   9737  25.7
6 2012 Google     50175  10737  21.4
7 2010 Microsoft  62484  18760  30.0
8 2011 Microsoft  69943  23150  33.1
9 2012 Microsoft  73723  16978  23.0