In [1]:
### Mapping values
### Defining some dictionary
dict<-data.frame(animal=c('pig','cow','salmon'),meat=c('bacon','beef','Nova lox'))
dict

  animal meat
1 pig    bacon
2 cow    beef
3 salmon Nova lox

In [2]:
### Creating a new data frame
data<-data.frame(meat=c('bacon', 'beef', 'bacon', 'Nova lox', 'bacon'))
data

  meat
1 bacon
2 beef
3 bacon
4 Nova lox
5 bacon

In [5]:
### Matching meat with animal
data$animal <- dict[match(data$meat, dict$meat), 'animal']
data

  meat     animal
1 bacon    pig
2 beef     cow
3 bacon    pig
4 Nova lox salmon
5 bacon    pig