In [1]:
### Reshaping and pivoting
install.packages("reshape")

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

In [4]:
library(reshape)

In [1]:
set.seed(1)
d1 <- data.frame(id=c(1,2,3,1,2),x=6:10, y=rnorm(5))
d1

  id x  y
1 1   6 -0.6264538
2 2   7  0.1836433
3 3   8 -0.8356286
4 1   9  1.5952808
5 2  10  0.3295078

In [2]:
d2=t(d1) ### Matrix transpose
d2

   [,1]       [,2]      [,3]       [,4]     [,5]
id  1.0000000 2.0000000  3.0000000 1.000000  2.0000000
x   6.0000000 7.0000000  8.0000000 9.000000 10.0000000
y  -0.6264538 0.1836433 -0.8356286 1.595281  0.3295078

In [5]:
d3=melt(d1,id="id") ### Reshaping
d3

   id variable value
1  1  x         6.0000000
2  2  x         7.0000000
3  3  x         8.0000000
4  1  x         9.0000000
5  2  x        10.0000000
6  1  y        -0.6264538
7  2  y         0.1836433
8  3  y        -0.8356286
9  1  y         1.5952808
10 2  y         0.3295078

In [6]:
id.means <- cast(d3, id~variable, mean) ### Mean function pivot for "id"
id.means

  id x   y
1 1  7.5  0.4844135
2 2  8.5  0.2565755
3 3  8.0 -0.8356286

In [7]:
### Converting long and wide format
install.packages('reshape2')
library('reshape2')

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

Attaching package: ‘reshape2’

The following objects are masked from ‘package:reshape’:

    colsplit, melt, recast

In [8]:
attach(USArrests)
head(USArrests)

           Murder Assault UrbanPop Rape
Alabama    13.2   236     58       21.2
Alaska     10.0   263     48       44.5
Arizona     8.1   294     80       31.0
Arkansas    8.8   190     50       19.5
California  9.0   276     91       40.6
Colorado    7.9   204     78       38.7

In [9]:
head(melt(USArrests))

Using  as id variables

  variable value
1 Murder   13.2
2 Murder   10.0
3 Murder    8.1
4 Murder    8.8
5 Murder    9.0
6 Murder    7.9

In [10]:
tail(melt(USArrests))

Using  as id variables

    variable value
195 Rape     11.2
196 Rape     20.7
197 Rape     26.2
198 Rape      9.3
199 Rape     10.8
200 Rape     15.6

In [11]:
melt_data<- melt(USArrests, id.vars = c("Murder", "Assault"))
head(melt_data)

  Murder Assault variable value
1 13.2   236     UrbanPop 58
2 10.0   263     UrbanPop 48
3  8.1   294     UrbanPop 80
4  8.8   190     UrbanPop 50
5  9.0   276     UrbanPop 91
6  7.9   204     UrbanPop 78

In [12]:
tail(melt_data)

    Murder Assault variable value
95  2.2     48     Rape     11.2
96  8.5    156     Rape     20.7
97  4.0    145     Rape     26.2
98  5.7     81     Rape      9.3
99  2.6     53     Rape     10.8
100 6.8    161     Rape     15.6

In [13]:
head(dcast(melt_data, Murder + Assault ~ variable))

  Murder Assault UrbanPop Rape
1 0.8    45      44        7.3
2 2.1    57      56        9.5
3 2.1    83      51        7.8
4 2.2    48      32       11.2
5 2.2    56      57       11.3
6 2.6    53      66       10.8

In [14]:
### Filtering
attach(mtcars)

In [15]:
### Bracket notation
head(mtcars[,c(2,4)]) ### Columns 2 and 4

                  cyl hp
Mazda RX4         6   110
Mazda RX4 Wag     6   110
Datsun 710        4    93
Hornet 4 Drive    6   110
Hornet Sportabout 8   175
Valiant           6   105

In [16]:
head(mtcars[mtcars$mpg>20,]) ### All columns with mpg > 20

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4      21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710     22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Merc 240D      24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230       22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2

In [17]:
head(mtcars[mtcars$mpg>20,c("mpg","hp")]) ### 'mpg' and 'hp' columns mpg > 20

               mpg  hp
Mazda RX4      21.0 110
Mazda RX4 Wag  21.0 110
Datsun 710     22.8  93
Hornet 4 Drive 21.4 110
Merc 240D      24.4  62
Merc 230       22.8  95

In [18]:
detach()

In [19]:
### Subset function
head(subset(mtcars, , c("mpg", "hp"))) ### All rows with 'mpg' and 'hp' columns

                  mpg  hp
Mazda RX4         21.0 110
Mazda RX4 Wag     21.0 110
Datsun 710        22.8  93
Hornet 4 Drive    21.4 110
Hornet Sportabout 18.7 175
Valiant           18.1 105

In [20]:
### Filter and select functions
install.packages("dplyr")
library(dplyr)
attach(iris)
head(iris)

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

Attaching package: ‘dplyr’

The following object is masked from ‘package:reshape’:

    rename

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [21]:
head(filter(iris,Sepal.Length>4.5))

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [22]:
head(select(iris, Petal.Width, Species))

  Petal.Width Species
1 0.2         setosa
2 0.2         setosa
3 0.2         setosa
4 0.2         setosa
5 0.2         setosa
6 0.4         setosa

In [23]:
### Chaining operation
head(iris %>% filter(Sepal.Length>4.5) %>% select(Petal.Width, Species))

  Petal.Width Species
1 0.2         setosa
2 0.2         setosa
3 0.2         setosa
4 0.2         setosa
5 0.2         setosa
6 0.4         setosa