In [2]:
### Sorting
library(plyr)
library(dplyr)
attach(mtcars)

The following objects are masked from mtcars (pos = 3):

    am, carb, cyl, disp, drat, gear, hp, mpg, qsec, vs, wt

In [3]:
### Using order function
mtcars_Ordered <- order(mtcars$mpg)
mtcars_Ordered ### This is just the order of rows

 [1] 15 16 24  7 17 31 14 23 22 29 12 13 11  6  5 10 25 30  1  2  4 32 21  3  9
[26]  8 27 26 19 28 18 20

In [4]:
mtcars_ordered <- mtcars[mtcars_Ordered,] ### mpg ordered mtcars
head(mtcars_ordered)

                    mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Cadillac Fleetwood  10.4 8   472  205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460  215 3.00 5.424 17.82 0  0  3    4
Camaro Z28          13.3 8   350  245 3.73 3.840 15.41 0  0  3    4
Duster 360          14.3 8   360  245 3.21 3.570 15.84 0  0  3    4
Chrysler Imperial   14.7 8   440  230 3.23 5.345 17.42 0  0  3    4
Maserati Bora       15.0 8   301  335 3.54 3.570 14.60 0  1  5    8

In [5]:
### Descending order
mtcars_ordered <- mtcars[order(-mtcars$mpg),]
head(mtcars_ordered)

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Toyota Corolla 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Fiat 128       32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic    30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Lotus Europa   30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Fiat X1-9      27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2  26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2

In [6]:
### Sorting more than one column
mtcars_ordered <- mtcars[order(mtcars$mpg,-mtcars$cyl),]
head(mtcars_ordered)

                    mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Cadillac Fleetwood  10.4 8   472  205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460  215 3.00 5.424 17.82 0  0  3    4
Camaro Z28          13.3 8   350  245 3.73 3.840 15.41 0  0  3    4
Duster 360          14.3 8   360  245 3.21 3.570 15.84 0  0  3    4
Chrysler Imperial   14.7 8   440  230 3.23 5.345 17.42 0  0  3    4
Maserati Bora       15.0 8   301  335 3.54 3.570 14.60 0  1  5    8

In [7]:
### or 
mtcars_ordered <- mtcars[with(mtcars,order(mpg,-cyl)),]
head(mtcars_ordered)

                    mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Cadillac Fleetwood  10.4 8   472  205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460  215 3.00 5.424 17.82 0  0  3    4
Camaro Z28          13.3 8   350  245 3.73 3.840 15.41 0  0  3    4
Duster 360          14.3 8   360  245 3.21 3.570 15.84 0  0  3    4
Chrysler Imperial   14.7 8   440  230 3.23 5.345 17.42 0  0  3    4
Maserati Bora       15.0 8   301  335 3.54 3.570 14.60 0  1  5    8

In [8]:
### Using doBy package
install.packages('doBy')
library(doBy)

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

In [9]:
mtcars_ordered <- orderBy(~mpg-cyl,data=mtcars)
head(mtcars_ordered)

                    mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Cadillac Fleetwood  10.4 8   472  205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460  215 3.00 5.424 17.82 0  0  3    4
Camaro Z28          13.3 8   350  245 3.73 3.840 15.41 0  0  3    4
Duster 360          14.3 8   360  245 3.21 3.570 15.84 0  0  3    4
Chrysler Imperial   14.7 8   440  230 3.23 5.345 17.42 0  0  3    4
Maserati Bora       15.0 8   301  335 3.54 3.570 14.60 0  1  5    8

In [10]:
### Using arrange function
mtcars_ordered <- arrange(mtcars, mpg, desc(cyl))
head(mtcars_ordered)

  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
1 10.4 8   472  205 2.93 5.250 17.98 0  0  3    4
2 10.4 8   460  215 3.00 5.424 17.82 0  0  3    4
3 13.3 8   350  245 3.73 3.840 15.41 0  0  3    4
4 14.3 8   360  245 3.21 3.570 15.84 0  0  3    4
5 14.7 8   440  230 3.23 5.345 17.42 0  0  3    4
6 15.0 8   301  335 3.54 3.570 14.60 0  1  5    8