In [1]:
z <- c(1,4,5,6,1,2,4,3,8,7)
z[duplicated(z)] ### Finding duplicates in a vector

[1] 1 4

In [2]:
z[!duplicated(z)] ### Removing duplicates in a vector

[1] 1 4 5 6 2 3 8 7

In [3]:
d1 <- data.frame(id=c(1,2,3,1,2),x=c(6,7,8,6,7))
d1

  id x
1 1  6
2 2  7
3 3  8
4 1  6
5 2  7

In [4]:
d1[duplicated(d1),] ### Finding duplicates in a data frame

  id x
4 1  6
5 2  7

In [5]:
d1[!duplicated(d1), ] ### Removing duplicates in a data frame

  id x
1 1  6
2 2  7
3 3  8