In [1]:
install.packages("sqldf")
library(sqldf)

also installing the dependencies ‘gsubfn’, ‘proto’, ‘chron’

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done
Loading required package: gsubfn
Loading required package: proto
Warning message:
“no DISPLAY variable so Tk is not available”Loading required package: RSQLite

In [2]:
set.seed(1)
d1 <- data.frame(x=7:12, y1=rnorm(6))
d2 <- data.frame(x=4:9, y2=rnorm(6))
d1

  x  y1
1  7 -0.6264538
2  8  0.1836433
3  9 -0.8356286
4 10  1.5952808
5 11  0.3295078
6 12 -0.8204684

In [3]:
d2

  x y2
1 4  0.4874291
2 5  0.7383247
3 6  0.5757814
4 7 -0.3053884
5 8  1.5117812
6 9  0.3898432

In [4]:
sqldf()

<SQLiteConnection>
  Path: :memory:
  Extensions: TRUE

In [5]:
d <- sqldf("select * from d1 inner join d2 on d1.x=d2.x")
sqldf()
d

NULL

  x y1         x y2
1 7 -0.6264538 7 -0.3053884
2 8  0.1836433 8  1.5117812
3 9 -0.8356286 9  0.3898432